footer {
    background-color: $title-color;
    color: $footer-font-color;

    .footer-top {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        & > div {
            padding: 0;
        }

        .logo {
            width: 300px;

            img {
                filter: invert(1);
            }
        }

        .footer-top-links {
            li:nth-child(1) {
                padding-right: 15px;
                margin-right: 15px;
                position: relative;

                &:after {
                    content: "";
                    width: 1px;
                    height: 10px;
                    position: absolute;
                    background-color: $footer-font-color;
                    right: 0;
                    top: 55%;
                    opacity: .5;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            a {
                font-family: $secondary-font;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;

                transition: opacity .4s;

                &:hover {
                    opacity: .7;
                }

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .footer-bottom {
        padding-bottom: 30px;

        & > div {
            padding: 0;
        }

        .footer-bottom-links {
            padding-left: 0;

            li:nth-child(1) {
                padding-right: 15px;
                margin-right: 15px;
                position: relative;

                &:after {
                    content: "";
                    width: 1px;
                    height: 10px;
                    position: absolute;
                    background-color: $footer-font-color;
                    right: 0;
                    top: 55%;
                    opacity: .5;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }

        a {
            font-size: 14px;
            font-weight: 400;
            transition: color .4s;

            &:hover {
                color: lighten($footer-font-color, 20%);
            }
        }
    }

    .put-at-side {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
    }
}




// ---------- RESPONSIVE SECTION ----------
// Tablet
@media all and (max-width: 991px){
    footer {
        .footer-top {
            padding-bottom: 20px;
            margin-bottom: 30px;

            .logo {
                padding-left: 23px;
            }

            .footer-top-links {
                margin-top: 30px;
            }
        }

        .footer-bottom .footer-bottom-links {
            text-align: center;
        }

        .put-at-side {
            justify-content: center;
        }
    }
}

// Mobile
@media all and (max-width: 767px){
    footer {
        .footer-top {
            .logo {
                width: 100%;
                text-align: center;
                padding-left: 0;
                margin-bottom: 20px;

                img {
                    width: 300px;
                    display: inline-block;
                }
            }
        }
    }
}
