header {
    background-image: url("../img/bg-header.jpg");
    background-size: 100% 50%;

    nav.top-nav {
        padding: 30px calc((100% - 1170px) / 2) 20px;
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        align-items: center;
        margin: 0;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: all 1.2s;
        transition-delay: .2s;
        z-index: 2;

        &.hide-nav {
            top: -100%;
        }

        &.fixed-nav {
            top: 0;
            background-color: white;
        }


        #menu_checkbox {
            display: none;
        }

        label {
            display: block;
            width: 16px;
            height: 14px;
            cursor: pointer;
            position: relative;
            bottom: 2px;

            div {
                position: relative;
                top: 0;
                height: 2.5px;
                background-color: #000000;
                margin-bottom: 2.5px;
                transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
                border-radius: 2px;

                &:first-child {
                    transform-origin: 0;
                }

                &:nth-child(2) {
                    right: 0;
                    width: 16px;
                }

                &:last-child {
                    margin-bottom: 0;
                    transform-origin: 3px;
                }
            }
        }

        #menu_checkbox:checked + label div:first-child {
            top: -2px;
            transform: rotateZ(45deg);
        }

        #menu_checkbox:checked + label div:last-child {
            top: -9px;
            transform: rotateZ(45deg);
        }

        #menu_checkbox:checked + label div:nth-child(2) {
            width: 18px;
            top: -1px;
            right: 3.5px;
            transform: rotateZ(-45deg);
        }

        .menu {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                padding: 0 19px;
                text-transform: uppercase;

                a {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    overflow: hidden;

                    //Line from left to right
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        right: 100%;
                        bottom: 0;
                        background: $title-color;
                        height: 1px;
                        -webkit-transition-property: right;
                        transition-property: right;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }

                    &:hover:before,
                    &:focus:before,
                    &:active:before,
                    &.active:before {
                        right: 0;
                    }
                }

            }

            li:nth-child(1){
                padding-left: 0;
            }

            li:nth-child(2){
                padding-right: 0;
            }
        }

        .logo a {
            display: inline-block;

            img {
            width: 200px;
            }
        }
    }

    .container .jumbotron {
        padding-top: 150px;
        color: $title-secondary-color;

        h1 {
            font-size: 115px;
            line-height: 115px;
            font-weight: 700;
            letter-spacing: 6px;

            .transparent-text {
                font-size: 118px;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $title-secondary-color;
            }
        }

        h2 {
            margin: 30px 0 160px;
            font-family: $tertiary-font;
            font-size: 67px;
            font-weight: 400;

            .numbers {
                font-size: 96px;
            }
        }
    }

    .slider-top {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            width: 50%;
            height: 610px;
            transform: scale(.85);
            transition: transform .4s;
        }

        .swiper-slide-active {
            transform: scale(1);
        }
    }

    .cta {
        padding: 120px 0 150px;
        width: 50%;

        .cta-title {
            font-family: $tertiary-font;
            font-size: 46px;
        }

        p {
            color: $paragraph-color;
            font-weight: 400;
            margin: 40px 0 60px;
        }
    }
}


// ---------- RESPONSIVE SECTION ----------
// Tablet
@media all and (max-width: 991px){
    // Header
    header {
        .container {
           .jumbotron {
               padding-top: 160px;

               h1 {
                    font-size: 58px;
                    line-height: 58px;

                    .transparent-text {
                        font-size: 60px;
                    }
                }

                h2 {
                    font-size: 33px;
                    margin: 10px 0 100px;

                    .numbers {
                        font-size: 45px;
                    }
                }
            }
        }

        //Top Slider
        .slider-top {
            .swiper-slide {
                height: 520px;
            }
        }

        //Call to Action Section
        .cta {
            width: 61%;
        }
    }
}

// Tablet
@media all and (max-width: 767px){
    // Header
    header {
        //Top Slider
        .slider-top {
            .swiper-slide {
                height: 480px;
            }
        }

        //Call to Action Section
        .cta {
            width: 93%;
        }
    }
}

// XS Mobile
@media all and (max-width: 575px){
    // Header
    header {
        nav.top-nav .logo a img {
            width: 100%;
        }
    
        .container {
           .jumbotron {
               h1 {
                    font-size: 34px;
                    line-height: 34px;

                    .transparent-text {
                        font-size: 36px;
                    }
                }

                h2 {
                    font-size: 25px;
                    margin: 10px 0 100px;

                    .numbers {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
