//COLORS
//Primary
$title-color: #343434;
$paragraph-color: #646464;
$title-secondary-color: #F95E5E;
$footer-font-color: #808080;

$bg-btn: #232323;

$bg-violet: #665790;
$white: #FFFFFF;

//TYPOGRAPHY
//Font size
$standard-size: 16px;

//Font
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Cormorant Garamond', serif;
